/* Set box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove inner padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove outer margins */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set default body settings */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove default styling for all ul and ol with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* Reset a elements without a class to default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Simplify working with images */
img {
    max-width: 100%;
    display: block;
}

/* Specify a clear periodicity in the data flow for article */
article>*+* {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}